//Colors
$primary-color: #f77e38;
$secondary-color: rgb(65, 65, 65);
$tertiary-color: lighten($secondary-color, 20%);
$black: #000;


//Font Sizes
$font-small: 0.875rem; 
$font-med: 1.125rem; 
$font-lg: 1.5rem; 
$font-xlg: 2.25rem; 